@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-out {
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  